.CardHover{
  border-radius: 10px;
  border: none!important;
  box-shadow: 5px 5px 10px lightgray
}

.CardHover:hover{
  border-radius: 10px;
  border: none;
  box-shadow:  0px 0px 10px rgb(182, 180, 180)
}

.cursor {
  cursor: pointer
}

.cart-body p{
  line-height: .75;
}

#CardItem .footer{
  background-color: white;
  border: none;
  padding-bottom: 20px;
  padding-top: 0px
}


.button{
  background-color: rgb(239 150 45)!important;
}

.carousel{
  background-color: #FEEAE9;
  padding: 50px;
}

.carousel-control-next, .carousel-control-prev{
  width: 5%!important;
}

section{
  min-height: 100vh;
}

@media screen and (max-width: 767px) {
  #OrderReview {
    display: flex!important;
    flex-direction: column-reverse!important;
    
  }

  .Cart{
    display: none!important;
  }

}

.nav-link{
  color: black!important;
}
#Notfound{
  min-height: 100vh;
}

#Notfound h1{
  font-weight: 900;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#Notfound h4{
  font-weight: 700;
}
